.movieList-item {
  padding: 6px 0;
  display: flex;
}

.movieList-item-posterImg {
  width: 64px;
  height: 96px;
}

.movieList-item-itemText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 12px;
}

.movieList-item-divider {
  border-top: 1px solid #eeeeee;
}

.movieList-item-itemText-title {
  font-size: 22px;
  margin: 6px 0 0 0;
  color: rgb(66, 66, 66);
}

.movieList-item-itemText-date {
  font-size: 16px;
  margin: 6px 0 0 0;
  color: #9e9e9e;
}
