.movieList-item {
  padding: 6px 0;
  display: flex;
}

.movieList-item-posterImg {
  width: 64px;
  height: 96px;
}

.movieList-item-itemText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 12px;
}

.movieList-item-divider {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.movieList-item-itemText-title {
  font-size: 22px;
  margin: 6px 0 0 0;
  color: rgb(66, 66, 66);
}

.movieList-item-itemText-date {
  font-size: 16px;
  margin: 6px 0 0 0;
  color: #9e9e9e;
}

.movieList-item-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding-left: 12px;
}

.button {
  padding: 6px 12px;
  color: rgb(25, 118, 210);
  border: 1px solid rgba(25, 118, 210, 0.5);
  padding: 5px 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  font-size: 0.875rem;
  box-sizing: border-box;
}
